# This is a basic workflow to help you get started with Actions

name: USAJobsData

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:  
    - cron:  '30 4 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: API Call
        run: |
          curl -H "Host: data.usajobs.gov" -H "User-Agent: $SECRETAGENT" -H "Authorization-Key: $SECRETKEY" 'https://data.usajobs.gov/api/search?Organization=DD&SortField=location&SortDirection=Asc&ResultsPerPage=9000' -o usajobsdata.json
          git config --global user.name "GitHub Action"
          git config --global user.email "devstoneapps@gmail.com"
          git add usajobsdata.json
          git commit -m "USA Jobs API fetching"
          git push
        env:
          SECRETKEY: ${{ secrets.AUTH_KEY }}
          SECRETAGENT: ${{ secrets.USER_AGENT }}
      # Runs a set of commands using the runners shell
